# Dependencias
node_modules/

# Builds
dist/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caches
.cache/
.next/
.nuxt/
.tmp/
temp/

# Ambiente local
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs / Editores
.vscode/
.idea/
*.swp

# Tests coverage
coverage/
